<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/layout :: header}">
    </head>
    <body class="sb-nav-fixed">

        <nav th:replace="~{fragments/layout :: nav}">
        </nav>
        <div id="layoutSidenav">
            <div th:replace="~{fragments/layout :: sidebar}">
            </div>
            <div id="layoutSidenav_content">

                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Blank Page Title</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item active">Blank Page</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                <!-- Place any introductory text or instructions here -->
                                This is a blank page layout where you can add your content.
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-blank me-1"></i>
                                Section Title
                            </div>
                            <div class="card-body">
                                <!-- Add any content you want in this section -->
                                <p>Content for this section goes here.</p>
                            </div>
                        </div>
                    </div>
                </main>

                <footer th:replace="~{fragments/layout :: footer}">
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
